<div class="validation" *ngIf="control.dirty && controlError">
  <p
    class="validation__text"
    [ngClass]="{
      'validation__text--danger': passwordStrength === 'simple',
      'validation__text--warning': passwordStrength === 'medium',
      'validation__text--success': passwordStrength === 'strong'
    }"
  >
    The password is simple!
  </p><!-- /.validation__text -->
  <p
    class="validation__text"
    [ngClass]="{
      'validation__text--warning': passwordStrength === 'medium',
      'validation__text--success': passwordStrength === 'strong'
    }"
  >
    The password is medium!
  </p><!-- /.validation__text -->
  <p
    class="validation__text"
    [ngClass]="{
      'validation__text--success': passwordStrength === 'strong'
    }"
  >
    The password is strong!
  </p><!-- /.validation__text -->
</div>
