<div class="validation" *ngIf="control.dirty && controlError">
  <p class="validation__text">
    The password must contain at least 10 characters!
  </p><!-- /.validation__text -->
  <p class="validation__text validation__text--danger">
    The password is simple!
  </p><!-- /.validation__text -->
  <p class="validation__text validation__text--warning">
    The password is medium!
  </p><!-- /.validation__text -->
  <p class="validation__text validation__text--success">
    The password is strong!
  </p><!-- /.validation__text -->
</div>
