<form class="form">
  <h2 class="form__header">Sign in</h2>
  <div class="form__control">
    <label for="login" class="form__label">Login</label>
    <input id="login" type="email" name="email" placeholder="Email" class="form__input">
  </div>
  <div class="form__control">
    <label for="password" class="form__label">Password</label>
    <input id="password" type="password" name="password" placeholder="Password" class="form__input">
  </div>
  <button type="submit" class="form__btn">Submit</button>
  <button type="submit" class="form__btn form__btn--disabled" disabled>Submit</button>
</form>
